/* styles.css */
* { 
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: rgb(216, 216, 216);
}

body {
    font-family: 'Georgia', serif;
    background-color: white;
}

.Logo{
    max-width: 10rem;
}

.nav-icon i{
    margin-right: 20px;
    font-size: 35px;
    color: black;
}

.nav-icon i:hover{
    color: red
}

nav ul li {
    float: right;
}

input {
    float: right;
}

main {
    padding: 20px;
}

.categorias {
    float:inline-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

button{
    display: flex;
}

button{
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid rgba(255, 50, 50, 0.921) ;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    margin: right 0;
}

button:hover{
    background-color: red;
} 

h1{
    color:red;
    font-size: 40px;
    margin-bottom: 45px;
    text-align: center;
}

.juego.img{
    height: 120px;
    margin: 15px;
    padding: 10px;
   }
   
.container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(6, 1fr);
}

.juego-card{
   display: flexbox;
   margin: 6px;
   padding: 2px;
   text-align: center;
   border-radius: 5px;
   border-width: 1px;
   border-style: solid;
   background-color: rgb(216, 216, 216);
   box-shadow: 10px 7px 6px rgba(100, 97, 97, 0.221);
   }

.juego-card:hover {
    background-color: rgb(10, 3, 3);
    transition: .5s ease-in;
    box-shadow: 10px 20px 50px rgba(211, 211, 211, 0.519);
   }

   #lista-personas{
    width: 300px;
}

.personas{
    margin-top: 30px;
}
  
.personas label {
    margin-bottom: 10px; /* Espacio entre el texto del label y el selector */
    display: block; /* Asegura que el label sea un bloque para controlar el margen */
}